<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kom och Hämta</title>
	@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> *@
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		nav {
			background-color: #A5D265;
			height: 30%;
			padding: 1%;
			padding-left: 25px;
			padding-right: 25px;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
			/* list-style: none; */
			display: flex;
			justify-content: space-between;
			align-items: last baseline;
		}

			nav a {
				text-decoration: none;
				color: #333333;
				font-size: 16px;
				padding-left 10%;
			/* font-weight: bold; */

			}

				nav a:hover {
					color: #000000;
				}

		.center {
			text-align: center;
		}

		.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			width: 100%;
		}

		.product {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			margin: 1%; 
			border:solid black;
			width: 15%;
			background-color: white;
		}

		/* ----------------------------------------------------------------------------------- */

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 90vh;
			text-align:center;
		}

		.left-column {
			flex: 2;
			
		}

		.right-column {
			flex: 3;
			background-color: #fffaf0;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
		}

		.login-links {
			display: flex;
			align-items: center; /* Centrera elementen vertikalt */
		}

		.separator {
			margin: 0 10px; /* Lägg till 10px mellanrum mellan länkarna */
		}

		.login-form {
			max-width: 80%;
			margin: 0 auto;
			text-align: center;
		}

			.login-form label,
			.login-form input,
			.login-form span {
				display: block;
				margin-bottom: 10px;
			}

				.login-form input[type="submit"] {
					background-color: #01571D;
					color: #fff;
					border: none;
					padding: 10px 20px;
					cursor: pointer;
					text-align: center;
				}

		.login-button {
			display: block;
			color: #fff;
			border: none;
			border-radius: 0.3rem;
			padding: 0.5rem 3rem;
			cursor: pointer;
			transition: background-color 0.3s;
			font-family: 'Lucida Handwriting': center;
			margin: 10px auto;
		}

			.login-button:hover {
				box-shadow: 0 0 10px green;
				font-size: 15px;
			}

		.searchResult{
			border:solid black;
			padding: 1%;
			margin: 2%;
			background-color: white;
		}

		.annonser { 
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-right: 2%;
			padding: 1%;
			background-color: #fffaf0;
			width: 10%;
		}

		.ordrar{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-right: 2%;
			padding: 1%;
			background-color: #fffaf0;
			width: 10%;
		}

		.saker{
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
			align-content: flex-end;
			justify-content: flex-start;
			margin-right: 2%;
		}

		.product-container {
			position: relative;
			display: inline-block;
		}

		.productImg {
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}

		.productName:hover + .productImg {
			opacity: 1;
			visibility: visible;
		}

		.body{
			background-color: #fffaf0;
		}

		.left-columnMember{
			flex: 2;
			margin-right: 2%;
			margin-top: 20%;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
		}

		#search {
			width: 25%;
			height: 10%;
			padding: 10px;
			border: 2px solid #ccc;
			border-radius: 5px;
			background-color: #f5f5f5;
			font-size: 16px;
			color: #333;
			transition: background-color 0.3s, border-color 0.3s, color 0.3s;
		}

			#search:hover {
				background-color: white;
				border-color: green;
			}
		a {
			text-decoration:none;
		}
		

	</style>
</head>
<body class="body">
	<nav class="nav">
		<img src="/Images/logotyp (1).png" width="10%" height="10%" alt="logotyp" style="padding-right: 2%; padding-left: 2% "/>
			<div class="left-column">
		<a asp-controller="Products" asp-action="@(User.Identity.IsAuthenticated ? "Members" : "Index")">Hem</a>
			</div>
		<img src="~/Images/MicrosoftTeams-image (12).png" width="15%" height="15%" alt="logotitle" style="padding-right:2%; padding-left: 2%" />
		@if (User.Identity.IsAuthenticated)
		{
			@* <a asp-controller="Products" asp-action="Members">Hem</a> *@

			<div>Välkommen @User.Identity.Name!</div>
			<span class="separator"></span>
			<div class="login-links">
			<a asp-controller="Account" asp-action="LogOut">Logga ut</a>
			</div>
		}
		else
		{
			<div class="left-column">
				@* <a asp-controller="Products" asp-action="Index">Hem</a> *@
			</div>
			<div class="login-links">
				<a asp-controller="Account" asp-action="Register">Skapa ny användare</a>
				<span class="separator"></span>
				<a asp-controller="Account" asp-action="LogIn">Logga in</a>
			</div>

		}
	</nav>

	@RenderBody()
</body>
	@RenderSection("scripts", false)
</html>
