<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>PickApp</title>
	@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> *@
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		nav {
			background-color: #A5D265;
			/* height: 30%; */
			padding: 1%;
			padding-left: 1%;
			padding-right: 1%;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 95%;
		}

			nav a {
				color: #333333;
				font-weight: bold;
			}

				nav a:hover {
					color: #000000;
				}

		.nav-left {
			height: 100%;
			width: 33%;
			padding-right: 2%;
			padding-left: 2%;
			display: flex;
			align-items: flex-end;
		}

		.nav-center {
			height: 100%;
			width: 33%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		.nav-right {
			height: 100%;
			width: 33%;
			display: flex;
			justify-content: right;
		}

		.center {
			text-align: center;
		}

		.products {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 0;
		}

		.product {
			display: flex;
			flex-wrap: wrap;
			text-align: start;
			font-size: small;
			align-content: space-between;
			margin: 1.5%;
			margin-left: 0;
			border: solid 1px black;
			max-width: 15%;
			max-height:contain;
			background-color: white;
			padding: 0.5%;
		}
		.img-container{
			height:80%; 
			width:100%; 
			overflow:hidden; 
			text-align:center;
		}

		/* ----------------------------------------------------------------------------------- */

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 90vh;
			text-align: center;
		}


		.right-column {
			flex: 3;
			background-color: #fffaf0;
			max-height: 80%;
			padding: 5%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
		}

		.login-form {
			max-width: 80%;
			min-width:fit-content;
			height:auto;
			margin: 0 auto;
			text-align: center;
			display:flex;
			justify-content:center;
			flex-direction: column;
			align-items: center;
		}

			.login-form label,
			.login-form input,
			.login-form span {
				display: block;
				margin-bottom: 2%;
			}

				.login-form input[type="submit"] {
					background-color: #01571D;
					color: #fff;
					border: none;
					padding: 10px 20px;
					cursor: pointer;
					text-align: center;
				}

		/* .login-button
		/* .login-button input[type="submit"],
		.login-button a */
		/* {
			background-color: #01571D;
			display: block;
			color: #fff;
			border: none;
			border-radius: 2rem;
			padding: 3% 2%;
			cursor: pointer;
			transition: background-color 0.3s;
			font-family: 'Lucida Handwriting': center;
			width: 70%;
			font-size: 80%;
			text-align: center;
		} */

			/* .login-button:hover {
				box-shadow: 0 0 10
			}px green; */ 

		.input-button
		{
			background-color: #01571D;
			color: #fff;
			border-radius: 2rem;
			padding: 3% 2%;
			transition: background-color 0.3s;			
			width: 70%;
			font-size: 80%;
			text-align: center;
			border: none;
		}
			
			.input-button:hover {
			box-shadow: 0 0 10px green;
			} 

		.button 
		{
				background-color: #01571D;
				color: #fff;
				border-radius: 2rem;
				padding: 8px;
				transition: background-color 0.3s;
				max-width: 150px;
				font-size: 80%;
				text-align: center;
				border: none;
		}

			.button:hover {
				box-shadow: 0 0 10px green;
			}


		.searchResult {
			border: solid black;
			padding: 1%;
			margin: 2%;
			background-color: white;
		}

		.annonser {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin-right: 2%;
			padding: 1%;
			background-color: #fffaf0;
			width: 100%;
		}

		.ordrar {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 1%;
			background-color: #fffaf0;
			width: 100%;
		}

		.saker {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 30%;
		}

		.product-container {
			display: flex;
			position: relative;
			display: inline-block;
		}

		.productImg {
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}

		.productName:hover + .productImg {
			opacity: 1;
			visibility: visible;
		}

		.body {
			background-color: #fffaf0;
		}

		.left-columnMember {
			margin: 2%;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
			width: 65%;
			height:fit-content; 
			padding: 3%;
		}

		#search {
			width: 25%;
			height: 10%;
			padding: 3px;
			border: 2px solid #ccc;
			border-radius: 5px;
			background-color: #f5f5f5;
			font-size: 16px;
			color: #333;
			transition: background-color 0.3s, border-color 0.3s, color 0.3s;
		}

			#search:hover {
				background-color: white;
				border-color: green;
			}

		a {
			text-decoration: none;
			color:black;
		}
	</style>
</head>
<body class="body">
	<nav class="nav">
		<div class="nav-left">
			<img src="~/Images/logotyp (1).png" alt="Logotyp" style="width:inherit" />
			<span style="margin:2%"></span>
			<a asp-controller="Products" asp-action="@(User.Identity.IsAuthenticated ? "Members" : "Index")">Hem</a>
		</div>
		<div class="nav-center">
			<img src="~/Images/PickAppName.png" alt="logotitle" style="width:50%; margin: 1%" />
		</div>
		<div class="nav-right">
			@if (User.Identity.IsAuthenticated)
			{
				<div>Välkommen @User.Identity.Name!</div>
				<span style="margin:2%"></span>
				<a asp-controller="Account" asp-action="LogOut">Logga ut</a>
			}
			else
			{
				<a asp-controller="Account" asp-action="Register">Skapa ny användare</a>
				<span style="margin:2%"></span>
				<a asp-controller="Account" asp-action="LogIn">Logga in</a>
			}
		</div>
	</nav>

	@RenderBody()
</body>
@RenderSection("scripts", false)
</html>
