


<div class="left-columnMember">

    <form asp-controller="Products" asp-action="SearchProductsMember" id="search-form">
    <input type="search" name="search" id="search" placeholder="Sök produkt..."/>
    @* <button type="submit">Sök</button> *@
    </form>
<ul class="products">
    @foreach (var item in Model)
    {
            <a class="product" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                <div class="img-container">
                 @if (item.Image != null)
                 {
                     <img src="@item.Image" alt="Image" style="width:100%; height:100%; object-fit:cover; object-position:center center">
                 }
                 else
                 {
                     <img src="/Images/stuff.jpg" alt="Image" style="width:100%; height:100%; object-fit:cover; object-position:center center">
                 }
                </div>
                <div style="font-weight:600">@item.ProductName</div>
                <div style="font-size:smaller; font-style:italic">@item.Location</div>
            </a>
    }
</ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search').on('input', function () {
            var searchQuery = $(this).val();

            $.ajax({
                type: "POST",
                url: $('#search-form').attr('action'),
                data: { search: searchQuery },
                success: function (result) {
                    $('.products').html(result);
                },
                error: function () {
                    alert('Ett fel inträffade vid sökningen.');
                }
            });
        });
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
        });
    });
</script>


