
<div class="left-columnMember" style="height: 100%">
    <div style="height: 70%">
        
    </div>
    <form asp-controller="Products" asp-action="SearchProductsMember" id="search-form" style="padding-left: 3%; padding-top: 2%;">
    <input type="search" name="search" id="search" placeholder="Sök produkt..."/>
    @* <button type="submit">Sök</button> *@
</form>
<ul class="products">
    @foreach (var item in Model)
    {
        <div class="product">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
               <div>
                @if (item.Image != null)
                {
                    <img src="@item.Image" alt="Image" width="100%">
                }
                else
                {
                    <img src="/Images/stuff.jpg" alt="Image" width="100%">
                }
                </div>
                <div>@item.ProductName</div>
            </a>
        </div>
    }
</ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search').on('input', function () {
            var searchQuery = $(this).val();

            $.ajax({
                type: "POST",
                url: $('#search-form').attr('action'),
                data: { search: searchQuery },
                success: function (result) {
                    $('.products').html(result);
                },
                error: function () {
                    alert('Ett fel inträffade vid sökningen.');
                }
            });
        });
        $('#search-form').on('submit', function (e) {
            e.preventDefault();
        });
    });
</script>


