@model LoginVM

<div class="container">
    <div class="left-column">
        <img src="\Images\Nylogo.png" alt="logotyp" width="400" height="400"/>
    </div>
    <div class="right-column">
        <h3 style="padding: 2%" class="login-form">Logga in</h3>
<hr />
        <form class="login-form" asp-controller="Account" asp-action="Login">
            <label class="login-form" asp-for="Username"></label>
            <input class="login-form" asp-for="Username" />
            <span asp-validation-for="Username"></span>

            <label class="login-form" asp-for="Password"></label>
            <input class="login-form" asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <br />
            <input class="login-button" type="submit" value="Logga in" />
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>

@section scripts {
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}