
<div class="AboutUs">
	<h2>Välkommen till PickApp - Ditt Hållbara Community för Delning!</h2>

	<h4 style="margin-top: 2%">Möt Vårt Team</h4>
	
	Vi är ett passionerat team bestående av fyra dedikerade individer med en gemensam vision. Låt oss presentera oss:
	Aladdin, Fredrik, Mervan och Isabelle: Vi är grundarna och kreatörerna bakom PickApp. Med våra olika bakgrunder och expertisområden har vi tillsammans arbetat hårt för att göra detta projekt möjligt. Vår gemensamma passion är att främja delning och hållbarhet i samhället.
	
	<h4 style="margin-top: 2%">Vår Vision</h4>
	Företaget PickApp grundades med en enkel tanke: att göra det enkelt för människor att dela artiklar de inte längre behöver samtidigt som de ger andra möjlighet att dra nytta av dessa. Vi tror på att främja en hållbar livsstil och att minska vårt ekologiska fotavtryck.
	
	<h4 style="margin-top: 2%">Vad Vi Delar</h4>
	
	Vår plattform gör det möjligt för dig att enkelt dela de artiklar du vill bli av med, oavsett om det är möbler, kläder, elektronik eller något annat. Samtidigt kan andra användare skapa konton och boka de artiklar de behöver. På detta sätt hjälper vi inte bara dig att förenkla ditt liv utan bidrar även till att minska överflödigt avfall och främja en cirkulär ekonomi.
	
	<h4 style="margin-top: 2%">Tack för Ditt Stöd</h4>
	
	Tack för att du valde PickApp. Tillsammans kan vi göra en positiv inverkan på miljön och göra världen till en bättre plats, en delad artikel i taget.
</div>
