@model CreateNewVM
<div style="display: flex; justify-content: center; padding-top: 5%;">
    <form asp-controller="Products" asp-action="CreateNew" method="post" enctype="multipart/form-data" style="padding:4%; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);">
        <div style="display: flex; flex-direction: column; float: left; padding-right: 40px;">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" placeholder="Skriv in produktnamn" style="margin-bottom: 20px;" />
            <span asp-validation-for="ProductName"></span>

            <label asp-for="Location"></label>
            <input asp-for="Location" placeholder="Ange upphämtningsplats" style="margin-bottom: 20px;" />
            <span asp-validation-for="Location"></span>


            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="4" cols="50" placeholder="Beskriv varan" style="margin-bottom: 20px;"></textarea>

        </div>
        <div style="display: flex; flex-direction: column; float: right; padding-left: 40px;">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" rows="4" cols="50" placeholder="Meddelande till upphämtaren (Skickas på mail efter bokning.)" style="margin-bottom: 20px;"></textarea>

            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" style="margin-bottom: 20px;" />

            <input class="green-button" type="submit" value="Skapa" />

        </div>
    </form>
</div>

@section scripts {
	<script src="~/jquery/jquery.min.js"></script>
	<script src="~/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
