@model IndexVM[]

<div style="margin:3%; min-height:200px">

<div>
	<h1>Händelser och nyheter</h1>
	<p>Här kommer nyheter och annan information dyka upp och uppdateras regelbundet.</p>
</div>
</div>

<partial name="_SearchView"></partial>
