@model MembersVM[]

<h3>Members</h3>
Welcome member - you are logged in as: @User.Identity.Name

<div>
	<div>Mina annonser</div>
	@foreach (var item in Model)
	{
		if (item.UserId == userManager.GetUserId(User))
		{
			<div>
			@item.ProductName		
			</div>
		}
	}
</div>
<div>
	<div>Mina ordrar</div>
	
</div>

<partial name="_SearchView"></partial>

